
body {
  background-color: #A9D8B8;
  
}

nav {
  list-style-type: none;
  background-color: #BEFFC7;
  position: fixed;
  width: 100vw;
  top: 0;
  padding: 8px;
}

a {
  color: #72705B;
  text-decoration: none;
  font-size: 120%;
}
a:hover {
  color: #A7C4B5;
  font-size: 118%;
  text-decoration: underline;
}

li {
  display: inline;
  padding: 455px;
}
